<?xml version="1.0"?>
<data>
    <docker nombre="Zerotier">
        <enable>0</enable>
        <link>https://archive.org/download/SpufyDockers/zerotier1.2.12_armhf.zip</link>
        <ssh>instalar.sh</ssh>
        <desc>Para conectarte a la red de tu casa desde fuera de ella</desc>
    </docker>
    <docker nombre="rclone">
        <enable>1</enable>
        <link>https://archive.org/download/SpufyDockers/rclone_light8.0-armhf.zip</link>
        <ssh>rclone_light.sh</ssh>
        <desc>Para tener acceso a tu cuenta de Google Drive</desc>        
    </docker>
    <docker nombre="JDdownloader">
        <enable>1</enable>
        <link>https://archive.org/download/SpufyDockers/jdownloader2.0_armhf.zip</link>
        <ssh>jdownloader.sh</ssh>
        <desc>Para descargar desde diferentes sitios de descarga directa</desc>        
    </docker>
    <docker nombre="PiHole">
        <enable>1</enable>
        <link>https://archive.org/download/SpufyDockers/pihole.zip</link>
        <ssh>instalar.sh</ssh>
        <desc>Servidor DNS para bloqueo de publicidad</desc>        
    </docker>
    <docker nombre="Emby">
        <enable>1</enable>
        <link>https://archive.org/download/SpufyDockers/emby_armhf.zip</link>
        <ssh>emby_armhf.sh</ssh>
        <desc>Servidor de medios. Similar a Plex</desc>        
    </docker>
</data>
