<?xml version="1.0"?>
<data>
    <docker nombre="Zerotier">
        <link>https://archive.org/download/SpufyDockers/zerotier1.2.12_armhf.zip</link>
        <ssh>instalar.sh</ssh>
    </docker>
    <docker nombre="JDdownloader">
        <link>https://archive.org/download/SpufyDockers/jdownloader2.0_armhf.zip</link>
        <ssh>jdownloader.sh</ssh>
    </docker>
</data>
